h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto
}

/* FLEX ORDER */

.flexcontainer {
  display: flex
}

.flexcontainer .box1 {
  background: lightsalmon;
  height: 100px;
  width: 100px;
  text-align: center;
}

.flexcontainer .box2 {
  background: lightseagreen;
  height: 100px;
  width: 100px;
  text-align: center;
  order: -2;
}

.flexcontainer .box3 {
  background: lightsteelblue;
  height: 100px;
  width: 100px;
  text-align: center;
  order: -1000;
}

.flexcontainer .box4 {
  background: lightslategray;
  height: 100px;
  width: 100px;
  text-align: center;
  order: -1;
}

/* FLEX-GROW */

.flexcontainer1 {
  display: flex;
}

.flexcontainer1 .box1 {
  background: lightsalmon;
  height: 100px;
  width: 100px;
  text-align: center;
  flex-grow: 1;
}

.flexcontainer1 .box2 {
  background: lightseagreen;
  height: 100px;
  width: 100px;
  text-align: center;
  flex-grow: 1;
}

.flexcontainer1 .box3 {
  background: lightsteelblue;
  height: 100px;
  width: 100px;
  text-align: center;
  flex-grow: 1;
}

.flexcontainer1 .box4 {
  background: lightslategray;
  height: 100px;
  width: 100px;
  text-align: center;
  flex-grow: 2;
}

/* FLEX-WRAP */

.flexcontainer2 {
  display: flex;
  flex-wrap: wrap;
}

.flexcontainer2 .box1 {
  background: lightsalmon;
  height: 200px;
  width: 200px;
  text-align: center;
}

.flexcontainer2 .box2 {
  background: lightseagreen;
  height: 200px;
  width: 200px;
  text-align: center;
}

.flexcontainer2 .box3 {
  background: lightsteelblue;
  height: 200px;
  width: 200px;
  text-align: center;
}

.flexcontainer2 .box4 {
  background: lightslategray;
  height: 200px;
  width: 200px;
  text-align: center;
}

.flexcontainer2 .box5 {
  background: lightpink;
  height: 200px;
  width: 200px;
  text-align: center;
}

.flexcontainer2 .box6 {
  background: lightgoldenrodyellow;
  height: 200px;
  width: 200px;
  text-align: center;
}

/* FLEX-SHRINK */

.flexcontainer3 {
  display: flex;
}

.flexcontainer3 .box1 {
  background: lightsalmon;
  height: 200px;
  width: 100%;
  text-align: center;
  flex-shrink: 2;
}

.flexcontainer3 .box2 {
  background: lightseagreen;
  height: 200px;
  width: 100%;
  text-align: center;
}

.flexcontainer3 .box3 {
  background: lightsteelblue;
  height: 200px;
  width: 100%;
  text-align: center;
}

.flexcontainer3 .box4 {
  background: lightslategray;
  height: 200px;
  width: 100%;
  text-align: center;
}

.flexcontainer3 .box5 {
  background: lightpink;
  height: 200px;
  width: 100%;
  text-align: center;
}

.flexcontainer3 .box6 {
  background: lightgoldenrodyellow;
  height: 200px;
  width: 100%;
  text-align: center
}

/* FLEX BASIS */

.flexcontainer4 {
  display: flex;
  flex-direction: row;
}

.flexcontainer4 .box1 {
  background: lightsalmon;
  height: 100px;
  width: 100px;
  text-align: center;
  flex-basis: 300px;
}

.flexcontainer4 .box2 {
  background: lightseagreen;
  height: 100px;
  width: 100px;
  text-align: center;
}

.flexcontainer4 .box3 {
  background: lightsteelblue;
  height: 100px;
  width: 100px;
  text-align: center;
}

.flexcontainer4 .box4 {
  background: lightslategray;
  height: 100px;
  width: 100px;
  text-align: center;
}
.flexcontainer4 .box5 {
  background: lightpink;
  height: 100px;
  width: 100px;
  text-align: center;
}

.flexcontainer4 .box6 {
  background: lightgoldenrodyellow;
  height: 100px;
  width: 100px;
  text-align: center;
}



/* FLEX */

.flex-container {
  display: flex;
}

.flex-container div {
  background: lightblue;
  height: 100px;
  flex: 1 1 0%;
  border: 1px solid lightcoral
}

.flex-container1 {
  display: flex;
}

.flex-container1 div {
  background: lightblue;
  height: 100px;
  flex: 1 1 0%;
  border: 1px solid lightcoral
}

.flex-container1 .two1 {
  flex: 2 1 0%;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
}

.flex-container2 div {
  background: lightblue;
  height: 100px;
  flex: 1 1 1;
  border: 1px solid lightcoral
}

.flex-container3 {
  display: flex;
  width: 100%;
}

.flex-container3 div {
  background: lightblue;
  height: 100px;
  width: 100px;
  flex: 1 1 0%;
  border: 1px solid lightcoral
}

.flex-container3 .two3 {
  flex-shrink: 2;
}
